[build-system]
requires = ["setuptools>=61,<75", "wheel"]
build-backend = "setuptools.build_meta"

[tool.black]
line-length = 99

[tool.isort]
profile = "black"
multi_line_output = 3
src_paths = ["sprm"]
